.profile__edit-button {
  visibility: hidden;
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
  transition: opacity 300ms;
  margin-left: 18px;
  border: none;
  background: center/24px url('../../../images/edit-button.svg');
}

.profile__edit-button_enabled {
  visibility: visible;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 650px) {
  .profile__edit-button {
    position: absolute;
    bottom: 24px;
    right: -42px;
  }
}

@media (max-width: 335px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    bottom: 13px;
    right: -28px;
    background: center/18px url('../../../images/edit-button.svg');
  }
}
