.info-tooltip__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: opacity 300ms;
  border: none;
  background: url('../../../images/close-button.svg');
}

.info-tooltip__close-button:hover {
  opacity: 0.6;
}

@media (max-width: 550px) {
  .info-tooltip__close-button {
    top: -48px;
    right: 0;
  }
}

@media (max-width: 335px) {
  .info-tooltip__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    background: center/20px url('../../../images/close-button.svg');
  }
}
